:root {
  --henry-background: #ffff01;
  --background-color: #000000;
  --color: #fff;
  --container-width: 75rem;
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: system-ui, sans-serif;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
body {
  color: var(--color);
  min-height: 100vh;
  min-height: 100dvh;
  margin: auto;
  max-width: var(--container-width);
  background-color: var(--background-color);
}
h1 {
  font-size: 60px;
}
h3 {
  font-size: 24px;
  max-width: 485px;
  margin-top: 1rem;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color);
}
