.nav {
  height: 80px;
}
.li {
  list-style: none;
}
.ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}
.img {
  object-fit: cover;
  margin-right: 5rem;
}
.a {
  color: var(--color);
  text-decoration: none;
}
